h3 {
    padding: 10px;
}

.filter-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

.filter {
    margin-top: 0.75%;
}

label {
    display: flex;
}

label img {
    cursor: pointer;
    width: 70%;
}

input[type="checkbox"] {
    display: none;
    width: 1px;
}

.tick {
    color: green;
    font-weight: bold;
}

.message-box {
    margin: auto;
    margin-top: 1.5%;
    padding: 1.5%;
    width: 30%;
    background-color: #f8d6da;
    border: 1px solid rgba(128,43,49,0.25);
    border-radius: 5px;
}

.message {
    text-align: center;
    color: #802b31;
    font-weight: bold;
}

