@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.home-page {
  background-color: rgb(17, 127, 167);
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  z-index: -1;
  /* padding-top: 15%; */
}

.footer {
  position: absolute;
  bottom: 0%;
  right: 0%;
  left: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(247, 232, 161);
  color: rgb(4, 44, 59);
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.footer > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolios > p {
  padding-right: 1%;
}

.portfolios > ul {
  border: 1px solid black;
  border-radius: 10%;
  padding: 2%;
}

span {
  font-weight: bold;
  opacity: 0.8;
}

span:hover {
  opacity: 1;
}

.pokeball-footer img {
  width: 17%;
  margin-left: 30%;
  cursor: pointer;
  opacity: 0.7;
}

.pokeball-footer img:hover {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .footer > div:first-child {
    display: none;
  }

  .pokeball-footer img {
    margin-left: 0;
  }

  .pokeball-footer img:active {
    opacity: 1;
  }
}
