.NavMain {
  background-color: transparent;
  color: rgb(57, 57, 57);
  display: flex;
  align-items: center;
  padding: 20px;
  height: 70px;
}

.first-div {
  display: flex;
  justify-content: space-between;
}

.NavMain .nav-list {
  margin-left: auto;
  display: flex;
}

.NavMain .nav-list li:not(:last-child) {
  margin-right: 20px;
}

.profile-img {
  max-height: 40px;
  max-width: 40px;
  border-radius: 50%;
}

.NavMain p {
  cursor: pointer;
}
