.pokemons-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.one-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  margin-top: 4%;
}

.one-pokemon:hover {
  background-color: rgb(218,218,218);
}

.types {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-weight: bolder;
}
