.pokemon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0% 2%;
  background-color: #f2f2f2;
  padding: 1% 0;
  border-radius: 15px;
  border: solid 2px grey;
  min-width: 155px;
  max-width: 200px;
  height: 55%;
  margin-bottom: 3%;
}

.pokemon-box .style-btn {
  height: 100%;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(4, 44, 59);
  color: whitesmoke;
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  padding: 5% 25% 5% 25%;
  margin: 2% 0% 2% 0%;
  border: 1px solid;
}

.pokemon-box .style-btn:hover {
  background: #eb804c;
  color: black;
  border: 1px solid;
}

.pokemon-box h2 {
  margin-bottom: 15%;
}

.edit-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon-box .no-style-btn {
  border: none;
  cursor: pointer;
  opacity: 0.7;
  padding: 2%;
  border-radius: 4px;
  background-color: rgb(242, 242, 242);
}

.pokemon-box .no-style-btn:hover {
  border: none;
  cursor: pointer;
  opacity: 1;
  background-color: rgb(235, 128, 76);
}

.trash-logo {
  width: 1.5rem;
}

.brush-logo {
  width: 1.5rem;
}

.edit-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-pokemon label {
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 1.3rem;
  color: rgb(4, 44, 59);
}

.edit-pokemon input {
  height: 100%;
  margin-bottom: 20px;
  border: 2px solid rgb(4, 44, 59);
  border-radius: 0.3rem;
  padding: 5px 0 5px 10px;
  width: 80%;
  color: rgb(4, 44, 59);
}

.edit-pokemon h2 {
  margin-bottom: 2%;
}
