.all-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

.all-details > h1 {
    background-image: linear-gradient(
        84deg, #042c3b 1%, #6d85ff 19%, #eb804c 90%);
        -webkit-text-fill-color: transparent;
        color: #fff;
        -webkit-background-clip: text;
        margin: 1% 0% 2% 0%;
}

.all-details > h3 {
    background-image: linear-gradient(
        84deg, #042c3b 35%, #6d85ff 19%, #eb804c 90%);
        -webkit-text-fill-color: transparent;
        color: #fff;
        -webkit-background-clip: text;
        margin: 1% 0% 1% 0%;
}

.img-profile {
    width: 20%;
    border-radius: 8px;
    border: solid rgba(235,128,76,0.5);
}